body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #191919; /* Dark background color */
    color: #ffffff; /* Text color */
}

.container {
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    background-color: #333333; /* Dark gray container background */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #b39ddb; /* Purple header color */
}

form {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #6d5858;
    border-radius: 5px;
    background-color: #333333; /* Dark gray input background */
    color: #ffffff; /* Text color */
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #7e57c2; /* Purple button color */
    color: #ffffff; /* Text color */
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #5e35b1; /* Darker purple button color on hover */
}
